<div class="container mt-3">
  <ul class="list-group my-4">
  <% @lists.each do |list| %>
    <li class="list-group">
      <%= link_to list.name, list_path(list) %>
    </li>
  <% end %>
  </ul>

</div>
