<div class="container my-3">
  <h1>Create new list</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class: "btn btn-primary my-3" %>
  <% end %>

  <%= link_to "Back to list", lists_path %>
</div>
